body{
  background-color: white;
  background-image: repeating-linear-gradient(
    to left,
    transparent,
    transparent 10px,
    #cccccc 10px,
    #cccccc 20px
  );
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}