*,
*::before {
  box-sizing: border-box;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);

  font-size: 2rem;
  font-family: Poppins, sans-serif;
}

.container {
  display: grid;
  justify-content: start;
  height: auto;
  width: 100%;
  background-color: var(--White);
  padding: 56px;
  border: 1px solid var(--Off-black);
  border-radius: 24px;
}

.input-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 160px;
  margin-bottom: 16px;
}

.input-text {
  color: var(--Smokey-grey);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  height: 54px;
  border-radius: 8px;
  border: 2px solid var(--Smokey-grey);
  color: var(--Off-black);
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}

input:focus {
  outline: none;
  border: 2px solid var(--Purple);
}

.button-content {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.submit-btn {
  background-color: var(--Purple);
  color: var(--White);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 64px;
  height: 64px;
}

.submit-btn:hover {
  background-color: var(--Off-black);
}

.border-bottom {
  width: calc(100% - 64px);
  border-bottom: solid 2px var(--Light-grey);
  margin-top: 24px;
}

.result-age {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--Off-black);
  width: 100%;
  margin-top: 32px;
}

.result-age h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
}

.output-day, .output-month, .output-year {
  color: var(--Purple);
  margin-right: 0.8rem;
}

.error-input {
  border: 1px solid var(--Light-red);
}

.error-text {
  color: var(--Light-red);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.error-day, .error-month, .error-year {
  color: var(--Light-red);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 48px 24px;
  }

  .input-container {
    max-width: 100%;
  }

  input {
    height: 48px;
  }

  .button-content {
    margin-top: 24px;
  }

  .border-bottom {
    width: calc(100% - 48px);
    margin-top: 16px;
  }

  .result-age {
    margin-top: 24px;
  }
}
